---
import { type ActionLink } from 'types';

interface Props extends ActionLink {
    class?: string;
}

const { label, ariaLabel, url, class: className } = Astro.props;
---

{
    url ? (
        <a class:list={['text-neutral', className]} href={url} aria-label={ariaLabel}>
            <span>{label}</span>
        </a>
    ) : (
        <button class:list={['text-neutral', className]} aria-label={ariaLabel}>
            <span>{label}</span>
        </button>
    )
}
