---
import Icon from './Icon.astro';

const footer = {
    id: 'site-footer',
    title: 'Site footer',
    menu: [
        {
            url: '#',
            label: 'Trust Center',
            id: 'cta-legal-footer-trustCenter'
        },
        {
            url: '#',
            label: 'Privacy',
            id: 'cta-legal-footer-privacyPolicy'
        },
        {
            url: '#',
            label: 'Security',
            id: 'cta-legal-footer-security'
        }
    ],
    social: [
        {
            label: 'Github',
            icon: {
                name: 'github',
                width: '18',
                height: '20'
            },
            url: '#'
        },
        {
            label: 'Youtube',
            icon: {
                name: 'youtube',
                width: '27',
                height: '20'
            },
            url: '#'
        },
        {
            label: 'Twitter',
            icon: {
                name: 'twitter',
                width: '20',
                height: '20'
            },
            url: '#'
        },
        {
            label: 'Discourse',
            icon: {
                name: 'discourse',
                width: '20',
                height: '20'
            },
            url: '#'
        }
    ]
};
---

<footer class="footer p-10">
    <a href="/" id="cta-footer-CompanyLogo">
        <span class="hidden">Go to Company homepage</span>
        Company
    </a>

    <ul class="grid-flow-col gap-4">
        {
            footer.menu.map((item) => (
                <li>
                    <a id={item.id} href={item.url}>
                        <span>{item.label}</span>
                    </a>
                </li>
            ))
        }
        <li>
            <button id="cta-legal-footer-cookieSettings">Cookie Settings</button>
        </li>
    </ul>

    <div class="grid grid-flow-col gap-4">
        {
            footer.social.map((link) => (
                <a href={link.url} id={`cta-footer-${link.icon?.name}`} target="_blank" rel="noopener noreferrer" aria-label={link.label}>
                    {link.icon?.name && <Icon icon={link?.icon?.name} width={link.icon.width} height={link.icon.height} />}
                </a>
            ))
        }
    </div>
    <p>{`© ${new Date().getFullYear()} Company`}</p>
</footer>
