---
const { heading, logos = [] } = Astro.props;
---

<article class="text-center" "logos">
    {
        heading && (
            <h2 id="title" class="text-3xl font-bold" data-sb-field-path=".heading">
                {heading}
            </h2>
        )
    }
    {
        logos.length > 0 && (
            <ul role="list" class="carousel py-8" data-sb-field-path=".logos">
                {logos.map((logo, idx) => {
                    return logo.src ? (
                        <li class="carousel-item px-8">
                            <img
                                src={logo.src}
                                alt={logo.alt}
                                width={logo.width}
                                height={logo.height}
                                data-sb-field-path={`.${idx} .${idx}.src#@src .${idx}.alt#@alt`}
                            />
                        </li>
                    ) : null;
                })}
            </ul>
        )
    }
</article>
