---
import { marked } from 'marked';
import Badge from './Badge.astro';

const { badge, quote, author, theme, hasBorder, class: className, 'data-sb-field-path': fieldPath } = Astro.props;
---

<div
    class:list={['card', hasBorder !== false && 'card-bordered', 'w-full max-w-2xl', className]}
    {...theme && theme !== 'none' && { 'data-theme': theme }}
    data-sb-field-path={fieldPath}
>
    <div class="text-left card-body">
        {badge && badge.text && <Badge {...badge} class="mb-3" data-sb-field-path=".badge" />}
        {quote && <blockquote class="text-lg sm:text-xl" data-sb-field-path=".quote" set:html={marked.parse(quote)} />}
        {
            author && (
                <div class="flex flex-col gap-4 mt-4" data-sb-field-path=".author">
                    {(author.name || author.title) && (
                        <div class="font-bold">
                            {author.name && <span data-sb-field-path=".name">{author.name}</span>}
                            {','}
                            {author.title && <span data-sb-field-path=".title">{author.title}</span>}
                        </div>
                    )}
                    {author.image?.src && (
                        <div class="w-16 overflow-hidden rounded-full aspect-square">
                            <img src={author.image?.src} alt={author.image?.alt || ''} class="object-cover w-full h-full" data-sb-field-path=".image" />
                        </div>
                    )}
                </div>
            )
        }
    </div>
</div>
